#animals {
	color: white;
	background-color: blue;
	font-size: 20px;
}

#animal-input{
	font-size: 20px;
}

#lab{
	font-size: 25px;
	font-style: bold;
}

#buttons-view{
	

}

.gif{
	margin: 10px;

}

